# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Wrangler
.wrangler/
.dev.vars

# Build output
dist/
worker/

# Environment variables
.env
.env.local
.dev.vars

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 